# Byte-compiled / optimized files
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# Environment variables
.env

# Database
*.db

# IDE configurations
.idea/
.vscode/

# macOS files
.DS_Store

# Docker logs
*.log


#Terraform
.terraform
.terraform.*
*.tfvars
*.tgz
*.tfstate*